* {
  background-color: #d1d5de;
}

nav {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  position: left;
}

ul li a {
  background: #ffffff;
  display: block;
  padding: 20px 25px;
  color: #110000;
  text-align: left;
  font-size: 20px;
  border-radius: 20px;
}

ul li ul.dropdown li {
  display: block;
}

ul li a:hover {
  background: #d1d5de;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown {
  padding-left: 0px;
  width: 100%;
  position: absolute;

  display: none;
}

main {
  text-align: left;
}

p {
  background-color: white;
  text-align: left;
  padding: 20px;
}

a {
  background-color: FFFFFF;
}

h1 {
}
h2 {
  background-color: FFFFFF;
  text-align: left;
  padding: 20px;
}

table,
tr,
th,
td,
caption {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border: 2px solid #111111;
}
